.remove-item{
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
}

.task-content{
    height: auto !important;
}
.cursor{
    cursor: move;
}

.priority{
    height: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px !important;
}